{% load render_bundle from webpack_loader %}
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
	"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<title>BTP | {% block title %}Books to Prisoners{% endblock %}</title>
	<link rel="stylesheet" href="/static/css/style.css" />
{# TODO ditch jquery entirely? #}
{#    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>#}
{#    <script type="text/javascript" src="/static/js-vendor/csrf-jquery-hack.js"></script>#}

    <!-- react -->
{#    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react.min.js"></script>#}
{#    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react-dom.min.js"></script>#}
{# TODO pull babel runtime in through npm #}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
    {% block extra_head %}{% endblock %}
</head>

<body>

  <div id="app"></div>

  {% render_bundle 'main' %}
</body>
</html>
