
  <!-- Snippet to display the current order, or an error message if there isn't a current order -->
  <h5>Current Order</h5> 
  {% if not order %}
    <p class="error">No current order, <a href="{% url 'inmate-search' %}">find an inmate</a> and add a new order for them or <a href="{% url 'order-oldlist' %}">choose an open order</a>.</p>
  {% else %}
      <p class="label">Order #{{order.pk}} for {{order.inmate.last_name}}, {{order.inmate.first_name}} (Inmate #{{order.inmate.inmate_id}})</p>
      <p><strong>{{order.books.all.count}} Book{{order.books.all.count|pluralize}}:</strong></p>
      {% if order.books.all.count == 0 %}
      <p>No books in order yet</p>
      {% else %}
      <ul id="orderBookList">
        {% for book in order.books.all %}
          <li>{{book.title}} <a href="javascript:removeFromOrder('{% url 'order-book-remove' book.pk %}')">remove</a></li>
        {% endfor %}
      </ul>
      {% endif %}
      <a href="{% url 'order-send-out' %}">send this order</a> | <a href="{% url 'order-unset' %}">save it for later</a>
  {% endif %}
