<!DOCTYPE html>
<html>
<head>
  <title>BTP | {% block title %}Books to Prisoners{% endblock %}</title>
  <link rel="stylesheet" href="/static/css/style.css"/>

  {% load raven %}
  {#  <script src="https://cdn.ravenjs.com/3.16.1/raven.min.js" crossorigin="anonymous"></script>#}
  {#  <script>Raven.config('{% sentry_public_dsn %}').install()</script>#}

  {% load staticfiles %}
  <script src="{% static 'rest_framework/js/coreapi-0.1.0.js' %}"></script>
  <script src="{% url 'api-docs:schema-js' %}"></script>
</head>

<body>

<div id="container">
  <!-- restricted books header -->
  <div id="restricted">{{ banner_message }}&nbsp;</div>
  <!-- container to pad everything in the main body of the page -->
  <div id="reactApp"></div>
  <!-- footer -->
  <div id="footer">
    BTP "Lemur" Inventory Manager &mdash; 2017
  </div>
</div>

{% load render_bundle from webpack_loader %}
{% render_bundle 'main' %}
</body>
</html>
