{% extends "LemurApp/base.html" %}

{% load lemur_extras %}

{% block title %}Inmate Search{% endblock %}
{% block header_title %}Inmate Search{% endblock %}

{% block current_inmates %}current{% endblock %}

{% block content %}
  <div id="inmateSearch">
    <form action="{% url 'inmate-search' %}" method="get">
      {% csrf_token %}
      <div id="searchBoxLeft">
        <div class="fieldWrapper">
          {{ form.inmate_id.label_tag }} {{ form.inmate_id }}
          <p class="note">e.g. K12345</p>
        </div>
      </div>
      <div id="searchBoxRight">
        <div class="fieldWrapper">
          {{ form.first_name.label_tag }} {{ form.first_name }}
        </div>
        <div class="fieldWrapper">
          {{ form.last_name.label_tag }} {{ form.last_name }}
        </div>
      </div>
      <div class="formfooter">
        <input type="submit" name="submit" value="Search for Inmate"/>
      </div>
    </form>
  </div>

  <div id="searchResults">
    {% if has_results %}
      <h2>Search Results</h2>
      <div class="resultsPadding">

        <div class="pagination">
          <span class="current">
              Page {{ inmate_list.number }} of {{ inmate_list.paginator.num_pages }}:
          </span>
          {% if inmate_list.has_previous %}
            <a href="{% append_to_get page=inmate_list.previous_page_number %}">&lt; previous</a>
          {% else %}
            &lt; previous
          {% endif %}
          |
          {% if inmate_list.has_next %}
            <a href="{% append_to_get page=inmate_list.next_page_number %}">next &gt;</a>
          {% else %}
            next &gt;
          {% endif %}
        </div>

        {% for inmate in inmate_list.object_list %}
          <div class="inmateResult" id="inmateResult{{ inmate.pk }}">
            <h3>{{ inmate.full_name }}</h3>

            <!-- dictionary and other warnings -->
            <ul class="inmateErrors error">
              {{ inmate.warnings|unordered_list }}
              {% if inmate.dictionaries|length == 1 %}
                <li>Patron already received dictionary ({{ inmate.dictionaries.0 }})</li>
              {% endif %}
              {% if inmate.dictionaries|length > 1 %}
                <li>Patron has already received multiple dictionaries. <a
                    href="javascript:$('#inmateResult{{ inmate.pk }} .dictionaries').toggle('fast');">Click to
                  expand</a>
                  <ul class="dictionaries" style="display:none;">
                    {{ inmate.dictionaries|unordered_list }}
                  </ul>
                </li>
              {% endif %}
            </ul>

            <!-- Inmate DOC details box -->
            <div class="inmateSearchProxyContainer" data-inmate-id="{{ inmate.pk }}"></div>

            <!-- Inmate data from Lemur -->
            <ul class="inmateDetails">
              <li><span class="resultLabel">Inmate ID:</span><span class="resultValue">{{ inmate.inmate_id }}</span></li>
              <li>
                <span class="resultLabel">Facility:</span><span class="resultValue">{{ inmate.facility }}</span>
                {% if inmate.facility.otherRestrictions %}
                  <span>({{ inmate.facility.otherRestrictions }})</span>
                {% endif %}
              </li>
            </ul>
            <ul class="inmateHistory">
              <li>{% inmate_doc_link inmate.pk "Inmate DOC lookup" %}</li>
              <li><a href="javascript:$('#inmateResult{{ inmate.pk }} .historyList').toggle('fast')">History</a>
                <ul class="historyList" style="display:none;">
                  {% for order in inmate.orders.all %}
                    <li>
                      <a href="javascript:$('#orderList{{ order.pk }}').toggle('fast')">Order #{{ order.pk }}</a>,
                      (<span class="orderReopenLink" data-order-href="{% url 'order-reopen' order_pk=order.pk %}"></span>)
                      opened {{ order.date_opened|date:"M jS, Y" }}{% if order.status == 'SENT' %}, closed
                      {{ order.date_closed|date:"M jS, Y" }}{% if order.sender %} by {{ order.sender }}
                      {% endif %}{% endif %}
                      <ul class="orderlist" id="orderList{{ order.pk }}" style="display:none;">
                        {% for book in order.books.all %}
                          <li>{{ book.title }}</li>
                        {% endfor %}
                      </ul>
                    </li>
                  {% endfor %}
                </ul>
              </li>
              <li><a href="{% url 'inmate-edit' pk=inmate.pk %}">Edit Information</a></li>
              <li><a href="{% url 'order-create' inmate_pk=inmate.pk %}" class="bold">Start a new order for this
                inmate</a></li>
            </ul>
          </div>
        {% empty %}
          <p><strong>No results found.</strong></p>
          <!-- link below is to the new inmate creation screen, but through an intermediary page (inmate-add-searched) that takes GET parameters with inmate information and pre-fills the form -->
          <p>If you are trying to start a new order, you'll first need to <a
              href="{% url 'inmate-add-searched' %}?{{ query }}">add the recipient to our database.</a> This happens if
            we've never sent them a package before.</p>
        {% endfor %}

        <div class="pagination">
          <span class="current">
              Page {{ inmate_list.number }} of {{ inmate_list.paginator.num_pages }}:
          </span>
          {% if inmate_list.has_previous %}
            <a href="{% append_to_get page=inmate_list.previous_page_number %}">&lt; previous</a>
          {% else %}
            &lt; previous
          {% endif %}
          |
          {% if inmate_list.has_next %}
            <a href="{% append_to_get page=inmate_list.next_page_number %}">next &gt;</a>
          {% else %}
            next &gt;
          {% endif %}
        </div>

      </div>
    {% endif %}
  </div>
{% endblock %}
