
{% extends "LemurApp/base.html" %}


{% block title %}Send Order{% endblock %}
{% block header_title %}Send Order{% endblock %}

{% block current_order_sendout %}current{% endblock %}  {% comment %}This is used to highlight the current page's tab in the nav bar by providing the current page's tab with the blocked-in CSS class{% endcomment %}

{% block content %}
  {% if not request.session.order %}
    <p>You aren't currently working on an order. <a href="{% url 'inmate-search' %}">Find an inmate to start a new order</a>, or <a href="{% url 'order-list' %}">look at the list of currently open orders.</a></p>
  {% else %}
    {% with request.session.order as order %}
      <h3>Order details</h3> 
      {% if order.books.all.count == 0 %}
        <p><strong>There are no books in this order. <a href="{% url 'order-build' %}">Add some</a> before sending it out.</p> 
      {% else %}
        <p><strong>Review the order below. If it's correct, click the Send It button. If you were looking for a different order, <a href="{% url 'order-list' %}">click here</a>.</strong></p>
    
        {% include "LemurApp/order_sendout_snippet.html" %}

        <strong>Look good?</strong>
        <form action="{% url 'order-send-out' %}" method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <input name="save" value="Send it." type="submit" />
        </form>
      {% endif %}
      {% endwith %}
  {% endif %}
{% endblock %}
