{% load lemur_extras %}

{% if 'order' in request.session and request.session.order %}
    {% with request.session.order as order %}
        <a href="{% url 'order-build' %}">Order #{{ order.pk }}</a>,
        for <a href="{% url 'inmate-detail' pk=order.inmate.pk %}">{{ order.inmate.full_name|truncchar:50 }}</a>,
        {{ order.books.all.count }} book{{ order.books.all.count|pluralize }}
        {% if order.warnings|length > 0 %}
            &nbsp;&nbsp;<span class="error">(<a href="{% url 'order-build' %}">warnings</a>)</span>
        {% endif %}
    {% endwith %}
{% else %}
    <!-- there isn't a current order -->
    Order: choose an <a href="{% url 'inmate-search' %}">inmate</a> or <a href="{% url 'order-oldlist' %}">order</a>
    first
{% endif %}
