{% extends "LemurApp/base.html" %}

{% load lemur_extras %} 

{% block title %}Build Order{% endblock %}
{% block header_title %}Build Order{% endblock %}

{% block current_build_order %}current{% endblock %}  {% comment %}This is used to highlight the current page's tab in the nav bar by providing the current page's tab with the blocked-in CSS class{% endcomment %}

{% block extra_head %}
  
{#  <script type="text/javascript" src="/static/js-vendor/jquery.form.js"></script>#}
  
{#  <script type="text/javascript">#}
{#    $(document).ready(function() {#}
{#      // short and sweet script to focus on the ISBN input when the page loads#}
{#      $("#id_identifier").focus();#}
{#      #}
{#      // make it so that we select the "searchNonUnique" or "searchISBN" hidden radio buttons based on whichever box wast last typed in#}
{#      $("#id_identifier").keyup(function(event) {#}
{#        $("#searchType").val("ISBN");#}
{#      });      #}
{#      $("#id_author").keyup(function(event) {#}
{#        $("#searchType").val("nonUnique");#}
{#      });#}
{#      $("#id_title").keyup(function(event) {#}
{#        $("#searchType").val("nonUnique");#}
{#      });#}
{#      #}
{#      // set up the submission of the ASIN form#}
{#      $("#ISBNForm").ajaxForm(function() {#}
{#        addToOrderISBN({'ISBN': $("#isbn_id_asin").val().toString()})#}
{#        $('form').clearForm();  // do this here rather than on order update so we don't lose the Amazon search box data when adding a book from there#}
{#      });#}
{#      #}
{#      // set up the submission of the Title-only form#}
{#      $("#TitleForm").ajaxForm(function() {#}
{#        addToOrderCustom({'Title': $("#title_id_title").val().toString()})#}
{#        $('form').clearForm();  // do this here rather than on order update so we don't lose the Amazon search box data when adding a book from there#}
{#      })#}
{#      #}
{#    });#}
{#    #}
{#    // Function to handle adding custom books to orders, AJAX-style#}
{#    function addToOrderCustom(bookData) {#}
{#      $.ajax({#}
{#         type: "POST",      #}
{#         url: "{% url 'order-add-book-custom' %}",     // use Django's template system to load URLs#}
{#         data: bookData,#}
{#         dataType: 'json',#}
{#         success: updateOrder,#}
{#         error: searchError#}
{#       });#}
{#    }#}
{##}
{#    // Function to handle adding books from ISBN direct-entry to order, AJAX-style#}
{#    function addToOrderISBN(bookData) {#}
{#      $.ajax({#}
{#         type: "POST",#}
{#         url: "{% url 'order-add-book-ISBN' %}",   // use Django's template system to load URLs#}
{#         data: bookData,#}
{#         dataType: 'json',#}
{#         success: updateOrder,#}
{#         error: searchError#}
{#       });#}
{#     }#}
{#    #}
{#    // Function to remove books from the cart, AJAX-style#}
{#    function removeFromOrder(url) {#}
{#      $.ajax({#}
{#        type: "POST",#}
{#        url: url,#}
{#        data: {},#}
{#        dataType: 'json',#}
{#        success: updateOrder#}
{#      });#}
{#    }#}
{#    #}
{#    // Function to process an error that occurs during an AJAX form submission#}
{#    // (e.g. a 404 error resulting when a book with the given ASIN isn't found)#}
{#    function searchError(xhr, error) {#}
{#      if(xhr.status == 404) {#}
{#        $("#ASINerrors").hide(function() {#}
{#          $("#ASINerrors").html("<li>No results found for the ISBN you entered, please verify that it was typed correctly, or try another method for adding the book to this order</li>");#}
{#          $("#ASINerrors").show('fast');#}
{#        });#}
{#      } else if(xhr.status == 400) {#}
{#        $("#ASINerrors").hide(function() {#}
{#          $("#ASINerrors").html("<li>It looks like the ISBN you tried isn't a valid ISBN number (usually 10 or 13 digits, with a correct check digit), try re-typing it or try another method for adding the book to this order</li>");#}
{#          $("#ASINerrors").show('fast');#}
{#        });#}
{#      }#}
{#    }#}
{#    #}
{#    // Clears any form errors on successful form submission#}
{#    function clearErrors() {#}
{#      $("#ASINerrors").fadeOut('fast', function() {#}
{#        $("#ASINerrors").html('');#}
{#        $("ASINerrors").fadeIn('fast');#}
{#      });#}
{#    }#}
{#    #}
{#    // Function to update the open order once a book has been added to it#}
{#    function updateOrder(updatedOrder) {#}
{#      // clear any error messages#}
{#      clearErrors();#}
{#      // update the current order snippet  #}
{#      $("div#currentOrder").fadeOut('fast', function() {#}
{#        $("div#currentOrder").html(updatedOrder.snippet);#}
{#        $("div#currentOrder").fadeIn('fast');#}
{#      });#}
{#      // update the order summary at the top of the page#}
{#      $("div#topOrderSummary").fadeOut('fast', function() {#}
{#        $("div#topOrderSummary").html(updatedOrder.summary);#}
{#        $("div#topOrderSummary").fadeIn('fast');#}
{#      });#}
{#      // update the warning list at the top of the page#}
{#      $("div#orderWarnings").fadeOut('fast', function() {#}
{#        $("div#orderWarnings").html(updatedOrder.warnings);#}
{#        $("div#orderWarnings").fadeIn('fast');#}
{#      });#}
{#    }#}
{#    #}
{#    #}
{#  </script>#}
{% endblock %}

{% block content %}
    <div class="orderBuildComponent"></div>
{% endblock %}
