html * {
  box-sizing: border-box;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
}

body {
  font-family:verdana, arial, helvetica, sans-serif;
  font-size: 0.8em;
  color: #333333;
  text-align: center;
  line-height: 1.7em;
  background: #A5998E;
  }
  
h1 {
  padding: 1.2em 0 0 0;
  color: #A58848;
}

a {
  text-decoration: none;
  color: #7C8390;
  border-bottom: 1px dotted #7C8390; 
}

.error, .message {
  color: #A6001A;
}

.errors, ul.errorlist {
  font-weight: bold;
  color: #A6001A; 
}

ul.errors, ul.errorlist {
  list-style-type: none;
  padding-left: 0.5em;
}


#container  { 
  width:980px;  /* wide enough to fit in a 1024-px-wide screen including scrollbars */ 
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
  margin-bottom: 15px;
  border: 2px solid #A57548;
  background-color: white;
  text-align: left;
  }

/**
 *   Header bar with restricted list and current order summary
 */

#restricted {
  width: 100%;
  padding: 0.4em;
  margin: 0;
  background-color: #414256;
  border: none;
  border-bottom: 1px solid #A57548;
  color: #A59777;
  /*float:left;*/
   box-sizing: border-box;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box; 
}

#topOrderSummary {
  /*float:right;*/
  padding: 0.4em;
  margin: 0;
  background-color: #7C8390;
  border-bottom: 1px solid #A57548;
  color: #ffffff;
  width: 100%;
  text-align: right;
}

#topOrderSummary a {
  text-decoration: none;
  border-bottom: 1px white dotted;
  color: white;
}

#topOrderSummary .error a {
  color: #a6001a;
  border-bottom: 1px #a6001a dotted;
}

#containerpadding {
  padding: 0px 35px 25px 35px;
  clear: both;
}

/**
 *   Footer
 */
#footer  { 
  margin: 0 auto;
  color: #FFFFFF;
  padding-top: 0.7em;
  padding-bottom: 0.7em;
  font-size: 0.8em;
  background-color: #90897C;
  text-align: center;
  line-height: 1.3em;
  }

#footer a {
  color:#FFFFFF;
  text-decoration:none;
  font-weight: bold;
  }
 
/**
 *   Navigation bar
 */

#navsep {
  background: #414256;
}

#navlist {
  padding: 0 0 24px 0;
  margin: 0;
  list-style: none;
  line-height: 1em;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
}

#navlist li {
  float:left;
  margin-right: 3px;
  padding:0;
  border-top: 1px solid #414256;
  border-left: 1px solid #414256;
  border-right: 1px solid #414256;
}

#navlist ul 
{
  display:block;
  text-decoration:none;
  margin:0;
  padding: 0;
  display: inline;
  list-style-type: none;
}

#navlist a {
  display:block;
  color:#FFFFFF;
  text-decoration:none;
  font-weight:bold;
  margin:0;
  padding: 5px;
  border: none;
}

#navlist a:active,
#navlist a:link,
#navlist a:visited {
  background: #A59777;
}

#navlist a:hover {
background:#A58848;
}

#navlist a:link.current, #navlist a:visited.current
{
background: #414256;
color: #A59777;
}


/*
 * Container for search forms
 */


#searchContainer {
  padding: 10px;
  text-align: left;
  border-left: 1px solid #414256; 
  border-right: 1px solid #414256; 
  border-bottom: 1px solid #414256; 
}

#searchContainer h3 {
  color: #373222;
}

#searchBoxLeft {
  padding: 10px;
  float:left;
  border-right: 1px solid #000;
  height: 130px;
  background-color: #7C8390;
}

#searchBoxRight {
  float: left;
  height: 130px;
  padding: 10px;
  background-color: #A59A77;
}

/**
 *   Styling of forms themselves
 */

div.formfooter {
  clear: both;
}

div.fieldWrapper {
  height: 3.5em;
}

div#inmateSearch div.fieldWrapper {
  height: 2em;
}

div.fieldWrapper label {
  width: 80px;
  float: left;
}

div.fieldWrapper input {
  width: 230px;
}

#buildorderform #id_asin {
  width: 80px;
}
#buildorderform div.fieldWrapper label {
  width: 50px;
}

div#inmateSearch div.fieldWrapper input#id_inmate_id {
  width: 80px;
  /* TODO fix that this gets wrapped below its label */
}

div.fieldWrapper p.note {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 80px;
}

#searchBoxLeft div.fieldWrapper p.note {
  color: blue;
}

#searchBoxRight div.fieldWrapper p.note {
  color: orange;
}

div#inmateSearch div.fieldWrapper p.note {
  color: black;
}

.searchLabels {
  float:left;
  text-align: left;
}
.searchInputs {
  float: left;
}

.searchInputs input{
  display: inline;
  }

.searchInputs select{
  display: inline;
  }

.searchRadios {
  display:none;
}

/**
 *   For the current order snippet
 */

#currentOrder {
  border: 1px black dashed;
  padding: 10px;
  margin-bottom: 15px;
  float: right;
  width: 350px;
  height: 240px;
  overflow: auto;
  font-size: 0.9em;
  }

#currentOrder h5 {
  font-size:1.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  text-align:center;
  color:#FFFFFF;
  background-color:#996600;
}

#currentOrder p {
  
}

ul#orderBookList {
  margin: 0;
  padding: 0;
}

#orderBookList li {
  border-bottom: 1px dotted #FFFFFF;
  list-style: none;
  background-color:#CCCCCC;
  margin: 0;
  padding: 0;
  padding-left: 0.5em;
}

#orderBookList a {
  color:red;
}

/**
 *   For the order sendout page
 */

#sendReady {
  padding: 10px;
  background-color:#CCCCCC; 
}

ul.sendItems li {
  padding:3px;
  margin-bottom:3px;
  border-bottom: 1px dashed #FFFFFF;
  list-style-type: none;
}

span.orderHeader {
  font-size: 1.3em;
} 


/**
 *   For pages with search results
 */

#searchResults {
  clear: both;
}

#searchResults h2 {
  margin-bottom: 0.3em;
}

div.resultsPadding {
  padding: 1em;
}

div.pagination {
  color: #333333;
  margin-bottom: 0.5em;
}

#searchResults h2 {
  padding: 5px; 
  text-align: center;
  background: #414256;
  color: #A59777;
}

#resultsListing {
  clear:both;
}

#resultsListing table {
  width: 100%;
}

#resultsListing table tr.odd {
  background-color: #CCCCCC;
}

#resultsListing table tr.even {
  background-color: #999999;
}

#resultsListing table td.rightcolumn {
  text-align: center;
}

/*
 *   For order build page
 */

.bookSearchBox {
  width: 500px;
  display: -moz-box;
  display: -webkit-box;
  display: box;
  -webkit-box-align: -webkit-stretch;
  -webkit-box-orient: -webkit-horizontal;
  margin-bottom: 3px;
  line-height: 1.8em;
}
.bookSearchLeft {
  background-color: #7C8390;
  margin-right: 1px;
  padding: 0.5em;
  width: 40%;
}
.bookSearchRight {
  background-color: #A59A77;
  width: 60%;
  padding: 0.5em;
}
.bookSearchRight label {
  width: 80px;
  float:left;
}
.bookSearchRight p {
  margin: 0.5em;
}


/*
 * For inmate search page
 */


div.inmateResult {
background-color:#CCCCCC;
padding: 10px;
border-bottom: 1px dotted #FFFFFF;
}

div.inmateResult a {
  text-decoration:none;
  color:#A58848;
  border: none;
}

div.inmateResult a:active,
div.inmateResult a:link,
div.inmateResult a:visited {
  color: #A58848;
}

div.inmateResult a:hover {
  text-decoration:underline;
}

div.inmateResult ul.inmateDetails {
  list-style: none;
  padding: 0;
  margin: 0;
}

div.inmateResult ul.historyList {
  
}

div.inmateResult span.resultLabel {
  width: 100px;
  float: left;
  font-weight: bold;
}

.bold {
  font-weight: bold;
}

div.inmateResult span.resultValue {
  background-color: white;
  width: 200px;
  padding: 2px;
}

div.inmateResult ul.inmateErrors {
  margin-left: 100px;
  list-style: none;
  padding-left: 0px;
  font-weight: bold;
}

div.inmateResult ul.inmateErrors li {
  margin-left: 0px;
}

div.inmateResult ul.orderlist {
  list-style: disc;
}

/*
 * For highlighting book titles
 */

.resName {
font-weight:bold;
color:#414256;
}

/*
 * For clearing floating divs to get layout right
 */
.clearboth {
    clear: both;
